{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div class="flex-l mt2 mw8 center">
  <article class="center cf pv5 ph3 ph4-ns mw7">
    <header>
      <p class="f6 b helvetica tracked">
        {{ humanize .Section | upper }}
      </p>
      <h1 class="f1">
        {{ .Title }}
      </h1>
    </header>
    <div class="nested-copy-line-height lh-copy f4 nested-links nested-img">
      {{ .Content }}
    </div>
    <div id="mc_embed_signup">
      <div id="mc_embed_signup_scroll">
        <h2>I write a Monthly email with a personal update and things I find interesting</h2>
        <h3>If you'd like to receive it subscribe here:</h3>
        <iframe src="https://ferruccio.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </article>
</div>
{{ end }}