{{ define "main" }}
<!-- Sun -->
<div class="relative home-illustrations" style="z-index: 1;">
  <div class="sun" style="position: absolute; right: 16rem; top: 2rem; width: 120px; height: 120px;">
    {{ partial "svg/sun.svg" . }}
  </div>
</div>

<div class="page-container">
  <div class="container" style="position: relative; z-index: 2;">
    <div class="pv3 ph3">
      <div class="flex items-center">

        <div class="flex-grow-1">
          <div class="">
            <h1 class="ma0 f4 fw6 dark-gray">
              Welcome, I'm {{ .Site.Params.name }}
            </h1>
            <div class="status-text ma0 mt2">
              {{ .Site.Params.currentStatus | safeHTML }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-auto ph3">
      {{ partial "header-links.html" . }}
      <h2 class="mt0 pt4">Popular articles</h2>
      <div>
        {{ range .Site.Params.popularPosts }}
          <div>
            <a href="{{ .link }}">{{ .title }}</a>
          </div>
        {{ end }}
      </div>
    </div>
    <h2 class="ph3">Latest articles</h2>
    <div class="flex-auto">
      <article class="ph3">{{ .Content }}</article>
      {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
      {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
      {{ $section_count := len $section }}
      {{ if ge $section_count 1 }}
      {{ $section_name := index (.Site.Params.mainSections) 0 }}
      <div class="ph3 w-100">
        {{ $n_posts := $.Param "recent_posts_number" | default 6 }}
        <section class="w-100">
          {{ range (first $n_posts $section) }}
          <div class="relative w-100 mb4">
            {{ partial "summary-with-image.html" . }}
          </div>
          {{ end }}
        </section>

        {{ if ge $section_count (add $n_posts 1) }}
        <section class="w-100">
          <h1 class="f3">More</h1>
          {{ range (first 4 (after $n_posts $section)) }}
          <h2 class="f5 fw4 mb4 dib mr3">
            <a href="{{ .RelPermalink }}" class="link">{{ .Title }}</a>
          </h2>
          {{ end }}
          {{ with .Site.GetPage "section" $section_name }}
          <a href="{{ .RelPermalink }}" class="db f5 mr3 b w5">🗄 All my Posts</a>
          {{ end }}
        </section>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}