
/* Primary palette */
/* #85A865 */
/* #759FBC */
/* #D97757 */
/* #FACF71 */

/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

a {
    color: #111;
    text-decoration: none;
    border-bottom: 2px solid #111;
}

a:hover {
  color: #D97757;
  border-bottom-color: #D97757;
}


.nested-links a {
  color: #111;
}

.nested-links a:hover {
  color: #D97757;;
}

.speech-bubble {
  position: relative;
	background: hsl(45, 30%, 85%);
  border-radius: 2px;
}

.pagination li a {
  border: 0;
}


.pagination li.active a:link, .pagination li.active a:active, .pagination li.active a:visited {
  background: rgba(88, 110, 224, 0.2); 
}

.pagination li a:hover, .pagination li.active a:hover, .pagination li.active a:hover, .pagination li.active a:hover {
  background: #D97757;
  color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#twitter-footer-icon {
  border-bottom: 0px;
}